
*{
    margin: 0; padding: 0; box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
}
#app{
    width: 100%; height: 100vh; overflow: hidden; position: fixed; top: 0; left: 0;
}



.u-audio{position:absolute;left:85%;top:5%;width:30px;height:30px;background:url('../img/yy.png') right 0 no-repeat; -webkit-background-size: 30px 30px;background-size: 30px 30px;z-index:10000;}
        .u-play{
            background-image: url('../img/yy.png');
            -webkit-animation:reverseRotataZ 1.2s linear infinite;
            animation:reverseRotataZ 1.2s linear infinite;
        }
        /* reverseRotataZ */
        @-webkit-keyframes reverseRotataZ{
            0%{-webkit-transform:rotateZ(0deg);}
            100%{-webkit-transform:rotateZ(-360deg);}
        }
        @keyframes reverseRotataZ{
            0%{transform:rotateZ(0deg);}
            100%{transform:rotateZ(-360deg);}
        }



#home{
    width: 100%; height: 100%; padding-top: 1rem; position: relative;
    background: url('../img/bac.png') no-repeat; background-size: 100% 100%;
}
.title{
    width: 5.42rem; height: 1.36rem; margin: 0 auto;
    background: url('../img/title.png') no-repeat; background-size: 100% 100%;
}
.rule{
    width: 6.24rem; height: 5.98rem; margin-left: 0.63rem; margin-top: 0.4rem;
    background: url('../img/rule.png') no-repeat; background-size: 100% 100%; text-align: center;
}
.rule h4{ font-size: 0.35rem; }
.rule div{
    width: 100%; height: 80%; background-color: white; border-radius: 0.1rem; margin: 0 auto; padding: 0.2rem; 
    position: relative; top: 1rem; padding-top: 1rem; line-height: 0.5rem; font-size: 0.26rem;
}
.start{
    width: 3.52rem; height: 1.12rem; margin-left: 2rem; margin-top: 0.4rem;
    background: url('../img/start.png') no-repeat; background-size: 100% 100%;
}
.charts{
    width: 1.75rem; height: 0.33rem; margin-left: 2.87rem; margin-top: 0.4rem;
    background: url('../img/charts.png') no-repeat; background-size: 100% 100%;
}



#action{
    width: 100%; height: 100%; padding-top: 1rem; position: relative;
    background: url('../img/bac1.png') no-repeat; background-size: 100% 100%;
}
.start_title{
    width: 5.42rem; height: 1.36rem; margin: 0 auto;
    background: url('../img/title.png') no-repeat; background-size: 100% 100%;
}
.time{
    width: 2.13rem; height: 0.93rem; margin: 0.28rem auto; font-family:HYn3gj; color:rgba(51,51,51,1); text-align: center;
    background: url('../img/time.png') no-repeat; background-size: 100% 100%; font-size: 0.45rem; line-height: 0.9rem;
}
.hand{
    width: 100%; height: 6.35rem; position: absolute; bottom: 1rem; left: 0; z-index: 10;
}
.female{
    width: 2.79rem; height: 5.97rem; position: absolute; left: -0.5rem; top: 0;
    background: url('../img/female.png') no-repeat; background-size: 100% 100%;
}
.male{
    width: 2.78rem; height: 6.35rem; position: absolute; right: -0.5rem; top: -0.2rem;
    background: url('../img/male.png') no-repeat; background-size: 120% 100%;
}
.love{
    width: 2.42rem; height:100%; position: absolute; top: 3.5rem; left: 2.38rem; 
}
.love1{
    width: 0.62rem; height: 0.59rem; position: absolute; top: 0; right: 0.2rem;
}
.love2{
    width: 0.95rem; height: 0.87rem; position: absolute; top: 0.64rem; left: 0.2rem;
}
.love3{
    width: 2.42rem; height: 1.99rem; position: absolute; top: 1.84rem; left: 0;
}
.footer{ 
    width: 100%; height: 1.63rem; position: absolute; bottom: 0; left: 0; z-index: 11;
    background: url('../img/cloud.png') no-repeat; background-size: 100% 100%;
}
.clicks{
    width: 1.88rem; height: 2.01rem; position: absolute; bottom: 0.14rem; left: calc(50% - 0.94rem); z-index: 12;
    background: url('../img/clicks.png') no-repeat; background-size: 100% 100%; border-radius: 50%;
    -webkit-animation:dong 1s linear 0s infinite alternate;
    animation:dong 1s linear 0s infinite alternate;
}

    @keyframes dong{
		from{
            transform: scale(1);
		}
		to{
            transform: scale(0.8);
		}
	}
    @-webkit-keyframes dong{
		from{
            transform: scale(1);
		}
		to{
            transform: scale(0.8);
		}
	}


.Rankings{
    width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 20; padding-top: 1.03rem;
    background: url('../img/opbac.png') no-repeat; background-size: 100% 100%;
}
.countTimes{
    width: 100%; text-align: center;
    text-align: center; font-size: 0.4rem; color: white; position: absolute; top: 0.5rem; left: 0;
}
.Ranking{
    width: 5.69rem; height: 8.46rem; margin-left: 0.9rem; padding-top: 1.85rem; 
    background: url('../img/Ranking.png') no-repeat; background-size: 100% 100%;
    -webkit-animation:anim3 1s forwards normal; animation:anim3 1s forwards normal;
}
@keyframes anim3 {
    from {margin-left: 7.5rem;}
    to {margin-left: 0.9rem;}
}
@-webkit-keyframes anim3 {
    from {margin-left: 7.5rem;}
    to {margin-left: 0.9rem;}
}
.scrolls{
    width: 100%; height: 6.5rem; overflow: hidden;
}
.scrolls_list{
    width: 97%; height: 100%; overflow-y: auto; -webkit-overflow-scrolling:touch;
}
.scrolls_list::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.scrolls_list::-webkit-scrollbar {
    width: 5px;
    height: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scrolls_list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
    }
.scrolls_list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.Rankings_list{
    width: 4.8rem; height: 1rem; border-radius: 0.5rem; background:rgba(236,236,236,1); margin-left: 0.43rem; margin-top: 0.2rem;
    font-family:PingFang-SC-Regular; font-weight: Regular; font-size: 0.28rem; color:rgba(51,51,51,1); position: relative;
}
.portrait{
    width: 0.88rem; height: 0.88rem; margin-top: 0.06rem; margin-left: 0.06rem; float: left;
}
.portrait img{ width: 100%; height: 100%; border-radius: 50%; }
.name{
    width: calc(100% - 3rem); height: 100%; margin-left: 0.2rem; line-height: 0.4rem; float: left; padding-top: 0.1rem;
}
.name p:nth-child(1){
    font-family: Arial-BoldMT; font-weight: Bold;
}
.name p:nth-child(2){
    font-size: 0.24rem; white-space: nowrap; overflow: hidden;
}
.times{
    line-height: 1rem; font-family:PingFang-SC-Medium; font-weight: Medium; padding-right: 0.21rem; float: right;
}
.no1{
    width: 0.68rem!important; height: 0.6rem!important; position: absolute; top: -0.3rem; left: 0.44rem;
}
.no2,.no3{
    width: 0.47rem!important; height: 0.41rem!important; position: absolute; top: -0.205rem; left: 0.44rem;
}

.reds{
    color: rgba(243,29,74,1);
}
.active{
    background-color: #ff6662!important; border: 0.02rem solid gray!important;
}


.fail{
    width: 5.78rem; height: 4.31rem; margin-top: 2.2rem; margin-bottom: 1rem; margin-left: 0.87rem;
    background: url('../img/fail.png') no-repeat; background-size: 100% 100%;
}
.change{
    width: 5.69rem; height: 0.84rem; margin: 0.4rem auto; display: flex; justify-content: space-between;
    -webkit-animation:anim3 1s forwards normal; animation:anim3 1s forwards normal;
}
.again{
    width: 2.65rem; height: 100%; 
    background: url('../img/again.png') no-repeat; background-size: 100% 100%;
}
.share{
    width: 2.65rem; height: 1.17rem; 
    background: url('../img/share.png') no-repeat; background-size: 100% 100%;
}

.iSshare{
    width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 100;
    background: url('../img/Draw.png') no-repeat; background-size: 100% 100%;
}
.iSshares{
    width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 100;
    background: url('../img/Draws.png') no-repeat; background-size: 100% 100%;
}


.Time{
    width: 2.11rem; height: 3.09rem; position: absolute; top: 4rem; left: 2.67rem; text-align: center; z-index: 12;
}
.Time .imgs1{
    width: 1.01rem; height: 3.09rem;
    -webkit-animation:xiao1 1s linear 0s 1 alternate;
    animation:xiao1 1s linear 0s 1 alternate;
}
.Time .imgs2{
    width: 2.11rem; height: 3.07rem;
    -webkit-animation:xiao2 1s linear 0s 1 alternate;
    animation:xiao2 1s linear 0s 1 alternate;
}
.Time .imgs3{
    width: 2.11rem; height: 3.07rem;
    -webkit-animation:xiao3 1s linear 0s 1 alternate;
    animation:xiao3 1s linear 0s 1 alternate;
}


    @keyframes xiao1{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}
    @-webkit-keyframes xiao1{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}
    @keyframes xiao2{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}
    @-webkit-keyframes xiao2{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}
    @keyframes xiao3{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}
    @-webkit-keyframes xiao3{
		from{
            transform: scale(0);
		}
		to{
            transform: scale(1);
		}
	}


.qrcode{
    width: 100%; height: 100vh; position: absolute; top: 0; left: 0; font-size: 0.3rem; font-family:PingFang-SC-Regular; font-weight: Regular;
    background: url('../img/opbac.png') no-repeat; background-size: 100% 100%; text-align: center; color:rgba(26,26,26,1);
}
.qrcode section{
    width: 6.03rem; height: 6.43rem; background-color: white; border-radius: 0.2rem; margin: calc(50vh - 3.215rem) auto; padding-top: 0.5rem;
}
.qrcode section img{
    width: 4rem; height: 4rem; margin-top: 0.5rem;
}
.codes{
     margin-top: -2rem!important; opacity: 0;
}

